.sidebar{
    width:25%;
    background-color: #f6f6f6;
    height:calc(100vh - 76px);
}
.sidebar ul{
    list-style: none;
    padding: 10px;
}
.sidebar ul li{
    text-align: center;
}
.sidebar ul li a{
   display:block;
   color:#333;
   padding:7px;
   margin-bottom: 10px;
   font-size: 18px;
   text-decoration: none;
}
